<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="StudentModule.js"></script>
</head>

<body ng-app="StudentApp" ng-controller="studentCtrl1">
    <center>
        <h1>Student Management System</h1>
        <h2>Student Data</h2>
        <table border="1" cellpadding="10px">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Course</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="s in students track by $index">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.course}}</td>
                <td>
                    <button ng-click="deleteStudent(s.id)">Delete</button>
                    <button ng-click="editStudent(s)">Edit</button>
                </td>
            </tr>
        </table>
        <hr>
        <h2>Add Student</h2>
        <form ng-submit="addStudent()">
            <input type="text" placeholder="ID" ng-model="newStudent.id" required><br><br>

            <input type="text" placeholder="Name" ng-model="newStudent.name" required><br><br>

            <input type="text" placeholder="Course" ng-model="newStudent.course" required><br><br>

            <button type="submit" ng-disabled="isEdit">Add Student</button>
            <button type="button" ng-disabled="!isEdit" ng-click="updateStudent()">Update Student</button>
        </form>

        <h3>{{msg}}</h3>
    </center>
</body>

</html>